@{
    ViewData["Title"] = "Naslovnica";
}

<div class="row">
    <div class="col-md-3">
        <h2>RIS ISP</h2>
        <ul>
            <li><a asp-controller="Contract">Pogledaj sve ugovore</a></li>
        </ul>
    </div>
</div>
